<div class="container">
	<div class="screen">
		<div class="screen__content">
      <img src="/logo2.png" alt="logo" class="logo">
            <h1 class="login__title">Bienvenido</h1>
            <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="login">
				<div class="login__field">
          <label for="email" class="form-label">Usuario</label>
          <input type="text" id="username" name="username" class="form-control" placeholder="Ingrese su nombre de usuario" [(ngModel)]="username" required>
				</div>
				<div class="login__field">
          <label class="form-label" for="password">Contraseña</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Ingrese su contraseña" [(ngModel)]="password" required>
				</div>
                <div class="login__options">
                    <button class="button login__submit">
                        <span class="button__text">Ingresar</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>	
                    <button type="button" class="button login__register">
                        <span class="button__text">Registro</span>
                    </button>
                    <br>
                    <a href="/forgot-password" class="login__link">Olvidó contraseña?</a>
                </div>			
			</form>
		</div>
	</div>
</div>

<!-- <div class="login-container">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control" [(ngModel)]="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password" required>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Login</button>
    </form>
  </div> -->

  <!-- <div class="container p-4">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="card text-center">
          <div class="card-header">
            <h3>Login</h3>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
                <div class="form-group">
                    <input type="text" id="username" name="username" class="form-control" [(ngModel)]="username" required>
                </div>
              <div class="form-group">
                <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password" required>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> -->