.sidebar__logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar__logo-image{
    width: 90%;
    height: 80px;
}

@keyframes colorChange {
    0% {
        color: #FF0153;
    }
    100% {
        color: #CB38FE;
    }
}

.sidebar__user-name{
    animation: colorChange 3s infinite alternate;
    font-size: 20px;
    font-weight: bold;
    padding-top: 5%;
    padding-bottom: 10%;
    margin-left: 20px;
}

.sidebar__menu {
    border-radius: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar__menu li {
    padding-left: 10px;
    margin-bottom: 7px;
    width: 85%;
    display: grid;
    border-radius: 10px;
}

.sidebar__menu a {
    color: #ababab;
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
    display: block;
    transition: background 0.3s ease;
    border-radius: 10px;
}

.sidebar__menu a:hover {
    color: #d8d8d8;
    background-color: #bcbcbc;
    border-radius: 10px;
}